<div class="container_big_card">
    <div class="big_card_pic">
        <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/1275958/top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png"
            alt=""
            height="250px"
            width="398"
            srcset="">
    </div>
    <div class="big_card_title">
        <h1><a href="#">Saiu a nova versão Angular</a></h1>
    </div>
    <div class="big_card_description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet alias voluptatum et tempora? 
            Nulla, eaque consequatur. Voluptates eligendi soluta 
            quos necessitatibus adipisci sint, mollitia aspernatur cupiditate labore molestias dignissimos sit?</p>
    </div>

</div>