.container_big_card {
    width: 600px;
    height: 500px;
    margin-left: 15px;
    margin-right: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big_card_title>h1 {
    font-size: 30px;
    margin-top: 15px;
}

.big_card_description>p {
    margin-top: 10px;
    color: gray;
}

.big_card_pic>img {
    width: 100%;
    min-width: 600px;
}

a {
    text-decoration: none;
}