<div class="container_small_card">
    <div class="container_small_card_content">
        <div class="small_card_pic">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_NGutjDfURPdNDgrpuvcTvsoHmBl3T84G3g&usqp=CAU"
                alt="" srcset="">
        </div>
        <div class="small_card_title">
            <h1><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a></h1>
        </div>
    </div>

    <div class="container_small_card_separator">
        <hr/>
    </div>
</div>